<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/brands.css">
  <link rel="stylesheet" href="/stylesheets/solid.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{#if stylesheet}}
  <link rel="stylesheet" href="/{{stylesheet}}">
  {{/if}}
</head>

<body>
  {{!-- navbar --}}
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          我的餐廳清單
        </a>
      </div>
      <div>
        {{#unless create_page}}
        <a class="btn btn-primary" href="/restaurant/create" style="margin-right: 20px;">新增餐廳</a>
        {{/unless}}

        {{#unless index_page}}
        <a class="btn btn-danger" href="/" style="margin-right: 20px;">返回</a>
        {{/unless}}
      </div>
    </nav>

    {{#unless create_page}}
    <div class="banner"></div>
    {{/unless}}
  </header>

  {{!-- partial view --}}
  {{{body}}}


  {{!-- js --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>
